html{
    height:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

body {
    position: relative;
    font-family: Nunito;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3 1fr);
}

.header {
    display: flex;
    background-color: #950000;
    padding: 5px 0 5px 100px;
    height: 50px;
    gap: 10px;
}

.title {
    color: #fff;
    font-size: 35px;
    font-style: italic;
}


.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 30px;
    font-weight: bold;
}

.main {
    padding: 10px;
    gap: 10px;
}

.imgContent{
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.imgContent p{
    width:50%
}

.imgContent img{
    width:370px;
    height:260px;
    padding: 10px;
}

.footerMenuPrincipal {
    display: flex;
    justify-content: space-between;
}

.imgbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btnSalir {
    text-decoration: none;
    text-align: center;
    background-color: #ce0000;
    border-style: none;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 32px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.btnDonar {
    text-decoration: none;
    background-color: #1DCE00;
    text-align: center;
    border-style: none;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 32px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.imgFooter{
    width: 200px;
    height: 150px;
}

.imgMenuPrincipal {
    width: 250px;
    height: 250px;
}