
body {
    font-family: Nunito;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerContent {
    display: flex;
    background-color: #950000;
    height: 100%;
    gap: 30px;
}


.title {
    color: #fff;
    font-size: 35px;
    font-style: italic;
    padding-left: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.text {
    font-size: 30px;
    font-weight: bold;
}

.imgContent {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    font-weight: bold;
    height: auto;
}

.imgContent img {
    width: 20%;
    height: auto;
}

.imgContent p {
    width: 50%
}

.footerMenuPrincipal {
    display: flex;
    justify-content: space-between;
}

.imgbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btnSalir {
    background-color: #1DCE00;
    border-style: none;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 32px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.imgFooter {
    width: 200px;
    height: 150px;
}

.imgMenuPrincipal {
    width: 250px;
    height: 250px;

}

@media (max-width: 440px) {
    body {
        font-family: Nunito;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .main img {
        width: fit-content;
        height: fit-content;
    }
    .main{
        justify-content: center;
    }
    .title {
        font-size: 20px;
        padding: 5px;
    }

    .headerContent {
        align-items: center;
        height: 30px;
    }

    .headerContent img {
        width: 30px;
        height: 30px;
    }

    .imgContent img {
        width: 100px;
        height: 90px;
    }

    .imgContent {
        font-size: 15px;
        padding: 20px 0;
    }

    .imgFooter {
        width: fit-content;
        height: 50px;
    }
    
    .imgMenuPrincipal {
        width: 80px;
        height: 80px;
    
    }
    .btnSalir {
        width: 60px;
        height: 20px;
        font-size: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }
}