body {
  margin: 0;
  line-height: normal;
}
.rectangle-div,
.rectangle-div1 {
  position: absolute;
  border-radius: var(--br-lg);
  height: 594.5px;
  transform: rotate(0.23deg);
  transform-origin: 0 0;
}
.rectangle-div {
  top: 269.13px;
  right: 25.8px;
  background: linear-gradient(
    90deg,
    rgba(248, 80, 50, 0.9),
    rgba(231, 56, 39, 0.9)
  );
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  width: 1380.57px;
}
.rectangle-div1 {
  top: 271.77px;
  left: 632.45px;
  background: linear-gradient(90deg, #f85032, #e73827);
  width: 783.23px;
}
.rectangle-div2,
.rectangle-div3 {
  position: absolute;
  top: 438px;
  left: 903px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 344px;
  height: 46px;
}
.rectangle-div3 {
  top: 520px;
}
.contrasea-b,
.usuario-b {
  position: absolute;
  top: 438px;
  left: 745px;
  display: inline-block;
  text-align: left;
  width: 143px;
  height: 50px;
}
.contrasea-b {
  top: 518px;
  left: 698px;
  width: 240px;
}
.registrarme-icon,
.vector-icon {
  position: absolute;
  top: 666.25px;
  left: 1069.65px;
  width: 177.32px;
  height: 30.8px;
  cursor: pointer;
}
.vector-icon {
  top: 654.5px;
  left: 790.5px;
  width: 226px;
  height: 52px;
}
.header-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-brown);
  width: 1440px;
  height: 80px;
}
.pngegg-1-2 {
  position: absolute;
  top: 10px;
  left: 432px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.food-community {
  position: absolute;
  top: 14px;
  left: 109px;
  display: inline-block;
  font-weight: 700;
  width: 345px;
  height: 53px;
}
.group-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 80px;
  font-size: var(--font-size-base);
}
.inicio-de-sesin,
.por-favor-inicia-sesin-para-c {
  position: absolute;
  left: 200px;
  display: inline-block;
  color: var(--color-black);
  width: 687px;
  height: 53px;
}
.por-favor-inicia-sesin-para-c {
  top: 184px;
  font-weight: 600;
}
.inicio-de-sesin {
  top: 131px;
  font-size: var(--font-size-base);
}
.pngegg-1-3 {
  position: absolute;
  top: 313px;
  left: 124px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.loggin-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: justify;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-nunito);
}


body {
  margin: 0;
  line-height: normal;
}
.food-system-i {
  position: absolute;
  top: 29px;
  left: 436px;
  font-size: 96px;
  display: inline-block;
  font-weight: 700;
  text-align: left;
  width: 638px;
  height: 107px;
}
.kisspng-food-bank-computer-ico-icon1 {
  position: absolute;
  top: 566px;
  left: 22px;
  width: 380px;
  height: 458px;
  object-fit: cover;
}
.kisspng-charitable-organizatio-icon1 {
  position: absolute;
  top: 644px;
  left: 1027px;
  width: 391px;
  height: 380px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.nosotros-conectamos-con-los-ce,
.nuestro-objetivo-es-hacer-lleg {
  position: absolute;
  top: 233px;
  left: 22px;
  display: inline-block;
  color: var(--color-black);
  width: 631px;
}
.nosotros-conectamos-con-los-ce {
  top: 410px;
  left: 758px;
}
.image-5-icon {
  top: 183px;
  left: 812px;
  width: 314px;
  height: 215px;
  object-fit: cover;
}
.image-5-icon,
.image-6-icon,
.rectangle-button {
  position: absolute;
  border-radius: var(--br-sm);
}
.image-6-icon {
  top: 398px;
  left: 161px;
  width: 321px;
  height: 168px;
  object-fit: cover;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #1dce00;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 214px;
  height: 79px;
}
.donar-b {
  position: absolute;
  top: 19px;
  left: 69px;
  font-size: var(--font-size-xs);
  display: inline-block;
  font-family: var(--font-inria-sans);
  color: var(--color-white);
  text-align: left;
  width: 105px;
  height: 40px;
}
.boton-salir-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 876px;
  left: 598px;
  width: 214px;
  height: 79px;
}
.image-7-icon {
  position: absolute;
  top: 606px;
  left: 523px;
  border-radius: var(--br-sm);
  width: 346px;
  height: 231px;
  object-fit: cover;
}
.header-div2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-brown);
  width: 1440px;
  height: 80px;
}
.pngegg-1-22 {
  position: absolute;
  top: 10px;
  left: 432px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.food-community2 {
  position: absolute;
  top: 14px;
  left: 109px;
  display: inline-block;
  font-weight: 700;
  width: 345px;
  height: 53px;
}
.group-div2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 80px;
  text-align: justify;
  font-family: var(--font-nunito);
}
.index-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inria-sans);
}
