html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: Nunito;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #950000;
    padding: 5px 0 5px 100px;
    height: 50px;
    gap: 10px;
}

.title {
    color: #fff;
    font-size: 35px;
    font-style: italic;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.text {
    padding: 0 40px;
    width: 40%;
    font-size: 25px;
    padding: 20px 0;
}

.text span {
    font-size: 30px;
    font-weight: bold;
}



.contenedorMenu {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F85032;
    border-radius: 50px;
    font-weight: bold;
    gap: 50px;
    font-size: 20px;
    margin: 0 20px;
    width: 60%;
    height: 70%;
}

.contenedorMenu img {
    width: 250px;
    height: 250px;
}

.input {
    display: flex;
    padding: 5px 0;
    gap: 20px;
    height: 30px;
    align-items: center;

}

.input p {
    color: white;
    width: 40%;
}

.inputConteiner {
    border-radius: 10px;
    border-style: none;
    width: 100%;
    height: 25px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    gap:30px ;
}

.buttonIngresar {
    text-decoration: none;
    color: white;
    background-color:#1DCE00 ;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.buttonRegistrarme {
    text-decoration: none;
    color: black;
    background-color:#D7A86E ;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.buttonSalir {
    text-decoration: none;
    color: white;
    background-color:#950000 ;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
