html {
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
}

body {
    font-family: Nunito;
}

header {
    width: 100%;
    height: 100%;
}

.headerContent {
    display: flex;
    background-color: #950000;
    height: 10%;
    gap: 30px;
}

.title {
    color: #fff;
    font-size: 35px;
    font-style: italic;
    padding-left: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Login Container  */

.conteinerLogin {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    margin-top: 100px;
}

.textLogin {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}

.textLogin span {
    font-weight: bold;
    font-size: 45px
}

.loginFormContent {
    background-color: #F85032;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    box-shadow: 15px 15px 5px 2px rgba(0, 0, 0, 0.4);
    padding-bottom: 20px;
}

.loginFormContent img {
    width: 20%;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginForm div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    align-items: center;
    font-size: 30px;
}

.loginForm p {
    text-align: end;
    width: 30%;
}

.inputLogin {
    border-style: none;
    width: 60%;
    border-radius: 10px;
    outline: none;

}

.btnContainer {
    display: flex;
    flex-direction: column;
}

.btnIngresar {
    border-style: none;
    background-color: #1DCE00;
    color: white;
    font-size: 40px;
    width: 35%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
}

/* SignUp Container  */
.conteinerSignup {
    display: flex;
    justify-content: space-around;
}

.signupFormContent {
    background-color: #F85032;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    box-shadow: 15px 15px 5px 2px rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
}

.signupFormContent img {
    width: auto;

}

.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.signupForm div {
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    font-size: 30px;
}

.signupForm p {
    text-align: end;
    width: 30%;
}

.btnSignup {
    border-style: none;
    background-color: #1DCE00;
    color: white;
    font-size: 40px;
    border-radius: 10px;
    padding: 0 20px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
}


@media (max-width: 440px) {
    body {
        font-family: Nunito;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main img {
        width: fit-content;
        height: fit-content;
    }

    .main {
        justify-content: center;
    }

    .title {
        font-size: 20px;
        padding: 5px;
    }

    .headerContent {
        align-items: center;
        height: 30px;
    }

    .headerContent img {
        width: 30px;
        height: 30px;
    }

    /* login responsive  */
    .textLogin,
    .textLogin span {
        font-size: 15px;
        width: 30%;
    }

    .content {
        align-items: center;
    }

    .conteinerLogin {
        width: 90%;
        height: 50%;
    }

    .loginForm div {
        width: 100%;
        font-size: 15px;
    }

    .loginFormContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .loginFormContent img {
        width: 100px;
        height: 100px;
    }

    .inputLogin {
        border-style: none;
        width: 50%;
    }

    .btnContainer {
        display: flex;
        flex-direction: column;
    }

    .btnIngresar {
        font-size: 15px;
        width: 35%;
        border-radius: 5px;
    }

    /* signUp responsive  */
    .conteinerSignup {
        display: flex;
        justify-content: space-around;
    }

    .signupFormContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .signupFormContent img {
        width: 100px;

    }

    .signupForm {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .signupForm div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 15px;
    }

    .btnSignup {
        font-size: 15px;
        width: 100%;
        border-radius: 5px;
    }
}