
body {
    font-family: Nunito;
    background-color: black;
    background-image: url('../img/back-login.png');
    background-repeat: no-repeat;
    background-position:start;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
}


/* Login Container  */

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
}

.iconBreakfast{
    display: flex;
    justify-content: center;
}

.formContent {
    background-color: #0D215E;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding:20px;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    width: 100%;
    color: white;
    font-size: 30px;
}

.login p {
    text-align: end;
    width: 30%;
    font-size: 30px;
}

.input {
    border-style: none;
    border-radius: 5px;
    color: white;
    outline: none;
    background-color:#1E5FCE;
}

.buttonContainer{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonLogin {
    border-style: none;
    background-color: #1E8CD8;
    color: white;
    font-size: 25px;
    width: 45%;
    border-radius: 5px;
    cursor: pointer;
}

.buttonCancelar{
    border-style: none;
    background-color: black;
    color: white;
    font-size: 25px;
    width: 45%;
    border-radius: 5px;
    cursor: pointer;
}

.buttonContent{
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.buttonSignUp{
    border-style: none;
    color: white;
    text-decoration: none;
    
   width: 25%;
}

@media (max-width: 440px) {

}