html{
    height:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}
body {
    position: relative;
    font-family: Nunito;
    display: grid;
    height: 100%;
}

.header {
    display: flex;
    background-color: #950000;
    padding: 5px 0 5px 100px;
    height: 50px;
    gap: 10px;
}
.title {
    color: #fff;
    font-size: 35px;
    font-style: italic;
}

.text{
    margin: 0;
}
.texta{
    text-decoration: none;
    color: white;
}
.titulo{
    color: black;
    margin: 10px 340px;
}
.titulo2{
    display: flex;
    color: black;
    margin: 10px 400px;
    font-size: 27px;
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130%;
}
.contenedorMenu {
    background-color: #F85032;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 15px;
    width: 50%;
    height:100%;
}

.contenedorMenu iFrame{
    width: 80%;
    height: 80%;
    border-radius: 20px;
}

.footerMenuPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

.btnSalir {
    align-items: center;
    background-color: #950000;
    text-decoration: none;
    color: white;
    padding:10px 30px;
    font-size: 32px;
    border-radius: 15px;
}

.imgMenuPrincipal {
    width: 250px;
    height: 250px;
}