
body {
    font-family: Nunito;
    background-color: black;
    background-image: url('../img/back-menu.png');
    background-repeat: no-repeat;
    background-position:start;
    background-size:cover;
    width: 100vw;
    height: 100vh;
}

.headerContent {
    display: flex;
    background-color: #0D215E;
    align-items: center;
    height:80px;
    gap: 30px;
}

.headerContent img{
    height:90%
}

.title {
    color: #fff;
    font-size: 40px;
    font-style: italic;
    padding-left: 50px;
    margin: 0;
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin:10px 0;
}


.perfil, .perfilOpen, .centros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-size: 20px;
    background-color: #0D215E;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.perfilOpen{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.perfil p{
    margin: 0;
}

.namePerfil{
    display: flex;
    gap: 10px;
}


.centros{
    flex-direction: column;
    height: 100%;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    margin: 10px 0;
}

.info p{
    width: 50%;
    
}

.info img{
    height: 100%;
}

.centrosList{
    background-color:#1E5FCE ;
    border-radius: 5px;
    width: 90%;
    margin:20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoConteiner{
    background-color: #0D215E;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin:10px 0;
    border-radius: 5px;
}

.buttonMensaje , .buttonCancelar{
    background-color:#1E8CD8;
    border-radius:5px;
    color: white;
    text-decoration: none;
    padding: 10px 50px;
}

.buttonCancelar{
    background-color:black
}

@media (max-width: 440px) {
   
}