body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title{
    background-color: #950000;
    color: #fff;
    font-size: 40px;
    padding: 25px 0 0 100px;
    height: 70px;
    font-style: italic;
}

.main{
    display: flex;
    padding:150px;
}

.text{
    padding: 0 100px;
    width: 30%;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.contenedorMenu{
    background-color: #F85032;
    border-radius: 20px;
    padding:30px;
    width: 100%;
    height: 100%;
}

.donarComida{
    background-color:#D7A86E;
}