
body {
    position: relative;
    font-family: Nunito;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerContent {
    display: flex;
    background-color: #950000;
    height: 10%;
    gap: 30px;
    height: 100%;
}

.title {
    color: #fff;
    font-size: 35px;
    font-style: italic;
    padding-left: 50px;
}



.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.perfil {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    padding: 10px 50px;
    font-size: 40px;
    background-color: #950000;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    width: auto;
    box-shadow: 15px 15px 5px 2px rgba(0, 0, 0, 0.4);
    margin: 20px 0;
}

.perfil p{
    margin:10px;
}

.contenedorMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F85032;
    border-radius: 30px;
    padding: 30px;
    width: 50%;
    align-items: center;
    text-align: center;
    font-weight: bold;
    gap: 50px;
    margin: 0 20px;
    box-shadow: 15px 15px 5px 2px rgba(0, 0, 0, 0.4);
}


.subContentMenu{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 80%;
}

.subContentMenu div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.buttonMenu {
    text-decoration: none;
    color:black;
    background-color: #D7A86E;
    border-radius: 10px;
    padding: 10px;
    font-size: 35px;
    width: auto;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.buttonMenuZA {
    width: auto;
    text-decoration: none;
    color:black;
    background-color: #D7A86E;
    border-radius: 10px;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    width: 60%;
}

.footerMenuPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnSalir {
    text-decoration: none;
    padding: 15px 60px;
    align-items: center;
    background-color: #950000;
    border-style: none;
    color: white;
    font-size: 32px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.imgMenuPrincipal {
    width: 250px;
    height: 250px;
}

